.page-container{
    max-width: 99%;
}

.md-dialog {
    width: 70%;
    height: 70%;
    padding: 10px;
}
.md-menu-content {
    z-index: 10;
}
.md-table-row{
    height: 40px;
}
.md-table-row .md-table-cell-container{
    font-size: 14px;
}
.more_space{
    margin: 10px;
}