index:
    path: /main
    controller: App\Controller\DefaultController::index
users:
    path: /users
    controller: App\Controller\DefaultController::users
companies:
    path: /companies
    controller: App\Controller\DefaultController::companies

list.users:
    path: /api/users/list
    controller: App\Controller\UsersController::usersList
    methods: [GET]
add.users:
    path: /api/users/add
    controller: App\Controller\UsersController::usersAdd
    methods: [POST]
edit.users:
    path: /api/users/edit
    controller: App\Controller\UsersController::usersEdit
    methods: [POST]
delete.users:
    path: /api/users/delete/{id}
    controller: App\Controller\UsersController::usersDelete
    methods: [DELETE]

list.companies:
    path: /api/companies/list
    controller: App\Controller\CompaniesController::companiesList
    methods: [GET]
add.companies:
    path: /api/companies/add
    controller: App\Controller\CompaniesController::companiesAdd
    methods: [POST]
edit.companies:
    path: /api/companies/edit
    controller: App\Controller\CompaniesController::companiesEdit
    methods: [POST]
delete.companies:
    path: /api/companies/delete/{id}
    controller: App\Controller\CompaniesController::companiesDelete
    methods: [DELETE]

generate.data:
    path: /api/generate
    controller: App\Controller\DefaultController::generateData
    methods: [GET]

list.data:
    path: /api/list_report
    controller: App\Controller\DefaultController::reportList
    methods: [POST]
